
<ion-header>
	<ion-navbar >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Mis Sugerencias</ion-title>
	</ion-navbar>
</ion-header>

<h1>Sugerencias:</h1>
<ion-card *ngFor="let suggestion of (suggestions$| async);trackBy: trackByFn; let idx = index ">
	<ion-card-content>
		<p>
			<strong>Libro sugerido:</strong>{{auxSuggestiontitle[idx]}}<br>
			<strong>Razón: </strong>{{suggestion.reason}}
		</p>
	</ion-card-content>
</ion-card>

<ion-content> 
		<h1>Reseñas:</h1>
		<ion-card *ngFor="let review of (reviews$| async) ;let idx = index ">
			<ion-card-content>
				<p>
					<strong>Libro: </strong>{{aux[idx]}}<br>
					<strong>Reseña: </strong>{{review.review}}
				</p>
				<ionic3-star-rating 
					activeIcon = "ios-star"
					defaultIcon = "ios-star-outline"
					activeColor = "#488aff" 
					defaultColor = "#b5b5b5"
					readonly="true"
					[rating]= review.grade>
				</ionic3-star-rating>
		</ion-card-content>
	</ion-card>
</ion-content>  